$primary: #4c2e8f;
$secondary: linear-gradient(0deg, #585e86, #585e86), #ffffff;
$accent: #9c27b0;
$deep-purple-3: #9a92ff;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
